
Library/ArtifactDB
Library/Artifacts/00/00b70036384d1efc805c654203c14657
Library/Artifacts/0e/0eb600e3a6f983ca55b6793df27d6f05
Library/Artifacts/1c/1c8f059c425b0e7032eba242de9675a1
Library/Artifacts/42/42a68b54cf41f83c73b5a473786a65a1
Library/Artifacts/57/57ec04ffc0a1bc89d5c58989017f98e4
Library/Artifacts/7b/7bb4996727f00a57cf29642c416cf1b3
Library/Artifacts/7d/7d2677acf4276fd44c73f130587cee5d
Library/Artifacts/ac/ac3032f1c1f10c05fa09a160dcbe2629
Library/Artifacts/c4/c41e7165604c76beda663940c36150ee
Library/Artifacts/d5/d5932c818e8407beed6508bad333b996
Library/Artifacts/d8/d81b013d5740f75530f22df45b890a9d
Library/Artifacts/e3/e37409a739409c6ddeeaea8baef4f678
Library/Bee/1900b0aE.dag.json
Library/Bee/fullprofile.json
Library/EditorInstance.json
Library/LastSceneManagerSetup.txt
Library/PackageCache/com.unity.burst@1.8.18/.Runtime/libburst-llvm-16.dylib
Library/PackageManager/ProjectCache
Library/Search/transactions.db
Library/ShaderCache.db
Library/ShaderCache/builtin/unity_builtin_extra0000/00/51f482882a60faf4a07a14c99f820bb5.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/827a81533b3f2d32da2778adf77a513d.bin
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
ProjectSettings/ShaderGraphSettings.asset
Temp/FSTimeGet-296439bbd0d70fe40b5b785caf310042
Temp/FSTimeGet-411ada9eeaedb404fbd0b77c6849c140
Temp/FSTimeGet-94309dc3c65145b46b8efe31bef93068
Temp/UnityLockfile
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
*.txt
